@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="right_col" role="main" ng-controller="PedidoController" ng-init="ListarPedidos1()">

    <!-- MODAL DE PEDIDOS PENDIENTES -->
    <div class="modal fade registroProducto" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Detalle del pedido</h4>
                </div>

                <form class="form-horizontal form-label-left" name="FormConsultarPedido">


                    <div class="modal-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <br />

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top:1em;">Cedula:</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" ng-model="DatosFormConsultarPedido.usuarios_identificacion" class="form-control" name="cedula" disabled />
                                        @*<span class="fa fa-cubes form-control-feedback right" aria-hidden="true"></span>*@
                                    </div>
                                    <br />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top:1em;">Cliente:</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" ng-model="DatosFormConsultarPedido.NombreCompleto" class="form-control" name="cliente" disabled />
                                        @*<span class="fa fa-cubes form-control-feedback right" aria-hidden="true"></span>*@
                                    </div>
                                    <br />
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top:1em;">Telefono:</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" ng-model="DatosFormConsultarPedido.numeroComunicacion" class="form-control" name="telefono" disabled />
                                        @*<span class="fa fa-cubes form-control-feedback right" aria-hidden="true"></span>*@
                                    </div>
                                    <br />
                                </div>
                            </div>

                            <br />

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top:1em;">Dirección:</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" ng-model="DatosFormConsultarPedido.direccion" class="form-control" name="direccion" disabled />
                                        @*<span class="fa fa-cubes form-control-feedback right" aria-hidden="true"></span>*@
                                    </div>
                                    <br />
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top:1em;">Descripción:</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" ng-model="DatosFormConsultarPedido.descripcion" class="form-control" name="descripcion" disabled />
                                        @*<span class="fa fa-cubes form-control-feedback right" aria-hidden="true"></span>*@
                                    </div>
                                    <br />
                                </div>

                                <br />
                            </div>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Referencia</th>
                                        <th>Nombre</th>
                                        <th>E. Limitada</th>
                                        <th>Cantidad</th>
                                        <th>Talla</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="detalle in ListadoProductosPedido | filter:txtFiltrarP  | itemsPerPage: pageSize" current-page="currentPage " class="animated fadeInDown">
                                        <td>{{detalle.referencia}}</td>
                                        <td>{{detalle.nombreProducto}}</td>
                                        <td>{{detalle.edicionLimitada}}</td>
                                        <td>{{detalle.cantidad}}</td>
                                        <td>{{detalle.nombreTalla}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <br />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-bottom: 0;">Cancelar</button>
                            <button type="button" ng-click="cambiarEstado(DatosFormConsultarPedido.idMovimiento, 'PROCESO');" class="btn btn-success">Procesar pedido</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- MODAL DE PEDIDOS EN PROCESO -->
    <div class="modal fade pedidosProceso" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Detalle del pedido</h4>
                </div>

                <form class="form-horizontal form-label-left" name="FormConsultarPedido">


                    <div class="modal-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <br />

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top:1em;">Cedula:</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" ng-model="DatosFormConsultarPedido.usuarios_identificacion" class="form-control" name="cedula" disabled />
                                        @*<span class="fa fa-cubes form-control-feedback right" aria-hidden="true"></span>*@
                                    </div>
                                    <br />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top:1em;">Cliente:</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" ng-model="DatosFormConsultarPedido.NombreCompleto" class="form-control" name="cliente" disabled />
                                        @*<span class="fa fa-cubes form-control-feedback right" aria-hidden="true"></span>*@
                                    </div>
                                    <br />
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top:1em;">Telefono:</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" ng-model="DatosFormConsultarPedido.numeroComunicacion" class="form-control" name="telefono" disabled />
                                        @*<span class="fa fa-cubes form-control-feedback right" aria-hidden="true"></span>*@
                                    </div>
                                    <br />
                                </div>
                            </div>

                            <br />

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top:1em;">Dirección:</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" ng-model="DatosFormConsultarPedido.direccion" class="form-control" name="direccion" disabled />
                                        @*<span class="fa fa-cubes form-control-feedback right" aria-hidden="true"></span>*@
                                    </div>
                                    <br />
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top:1em;">Descripción:</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" ng-model="DatosFormConsultarPedido.descripcion" class="form-control" name="descripcion" disabled />
                                        @*<span class="fa fa-cubes form-control-feedback right" aria-hidden="true"></span>*@
                                    </div>
                                    <br />
                                </div>
                                <br />
                            </div>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Referencia</th>
                                        <th>Nombre</th>
                                        <th>E. Limitada</th>
                                        <th>Cantidad</th>
                                        <th>Talla</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="detalle in ListadoProductosPedido | filter:txtFiltrarP  | itemsPerPage: pageSize" current-page="currentPage " class="animated fadeInDown">
                                        <td>{{detalle.referencia}}</td>
                                        <td>{{detalle.nombreProducto}}</td>
                                        <td>{{detalle.edicionLimitada}}</td>
                                        <td>{{detalle.cantidad}}</td>
                                        <td>{{detalle.nombreTalla}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <br />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-bottom: 0;">Cancelar</button>
                            <button type="button" ng-click="cambiarEstado(DatosFormConsultarPedido.idMovimiento, 'FINALIZADO');" class="btn btn-success">Finalizar pedido</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>









    <div class="">
        <div class="page-title">
            <div id="cont-buscar-paginador">
                <div id="barraBusquedaPaginador" class="col-md-3 col-sm-3 col-xs-3  form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="txtFiltrarP" placeholder="Buscar...">
                        <span class="input-group-btn">
                            <button class="btn btn-default"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                </div>

                <div id="itemsPaginador" class="col-md-2 col-sm-2 col-xs-12  form-group pull-right top_search">
                    <div class="input-group">
                        <input type="number" min="1" max="25" class="form-control" ng-model="pageSize">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">

                        <!-- GESTINAR PEDIDOS -->
                        <div class="animated fadeInDown" role="tabpanel" data-example-id="togglable-tabs" ng-init="ListarPedidos(); ListarPedidos1();">

                            <!-- Tabs pedidos -->
                            <ul class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a id="pedidos" href="#tab_pendientes" ng-click="ListarPedidos();" role="tab" data-toggle="tab" aria-expanded="true">Pendientes</a>
                                </li>
                                <li role="presentation" class="">
                                    <a id="pedidos" href="#tab_enproceso" ng-click="ListarPedidosEnProceso()" role="tab" data-toggle="tab" aria-expanded="false">En proceso</a>
                                </li>
                                <li role="presentation" class="">
                                    <a id="pedidos" href="#tab_finalizados" ng-click="ListarPedidosFinalizado()" role="tab" data-toggle="tab" aria-expanded="false">Finalizados</a>
                                </li>
                                <li role="presentation" class="">
                                    <a id="pedidos" href="#tab_cancelados" ng-click="ListarPedidosCancelado()" role="tab" data-toggle="tab" aria-expanded="false">Cancelados</a>
                                </li>
                            </ul>

                            <!-- Contenido tabs maestras -->
                            <div class="tab-content animated fadeInDown" ng-init="ListarPedidos();">


                                <div role="tabpanel" class="tab-pane fade active in" id="tab_pendientes" aria-labelledby="home-tab">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Fecha</th>
                                                <th>Cedula</th>
                                                <th>Nombre del cliente</th>
                                                <th>Dirección</th>
                                                <th>Telefono</th>
                                                <th>Descripción</th>
                                                <th>Descuentos</th>
                                                <th>Total</th>
                                                <th>Estado</th>
                                                <th><center>Ver pedido</center></th>
                                                <th>Proceso</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="movimiento in ListadoPedidos | filter:txtFiltrarP  | itemsPerPage: pageSize" current-page="currentPage " class="animated fadeInDown">
                                                <td>{{movimiento.ID}}</td>
                                                <td>{{movimiento.fecha}}</td>
                                                <td>{{movimiento.cedula}}</td>
                                                <td>{{movimiento.nombreCliente}}</td>
                                                <td>{{movimiento.direccion}}</td>
                                                <td>{{movimiento.telefono}}</td>
                                                <td>{{movimiento.descripcion}}</td>
                                                <td>{{movimiento.descuentos}}</td>
                                                <td>{{movimiento.total}}</td>
                                                <td>{{movimiento.estado}}</td>

                                                @*<th>
                                                        <center><input type="checkbox" ng-init="agregarPropina = false" title="Acepta dar propina" ng-model="agregarPropina" /></center>
                                                    </th>*@
                                                <th>
                                                    <button data-toggle="modal" id="registrarProducto" data-target=".registroProducto" type="button" ng-click="ListarProductosPedidos(movimiento.ID); ConsultarPedido(movimiento.ID);" class="btn btn-primary">Detalle</button>
                                                </th>

                                                <td>
                                                    <button type="button" ng-click="GenerarFactura(pedido.idPedido, agregarPropina)" class="btn btn-warning" title="Generar Factura">
                                                        <i class="fa fa-file-text"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="tab_enproceso" aria-labelledby="profile-tab">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Fecha</th>
                                                <th>Cedula</th>
                                                <th>Nombre del cliente</th>
                                                <th>Dirección</th>
                                                <th>Telefono</th>
                                                <th>Descripción</th>
                                                <th>Descuentos</th>
                                                <th>Total</th>
                                                <th>Estado</th>
                                                <th><center>Ver pedido</center></th>
                                                <th>Proceso</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="movimiento in ListadoPedidosEnProceso | filter:txtFiltrarP  | itemsPerPage: pageSize" current-page="currentPage " class="animated fadeInDown">
                                                <td>{{movimiento.ID}}</td>
                                                <td>{{movimiento.fecha}}</td>
                                                <td>{{movimiento.cedula}}</td>
                                                <td>{{movimiento.nombreCliente}}</td>
                                                <td>{{movimiento.direccion}}</td>
                                                <td>{{movimiento.telefono}}</td>
                                                <td>{{movimiento.descripcion}}</td>
                                                <td>{{movimiento.descuentos}}</td>
                                                <td>{{movimiento.total}}</td>
                                                <td>{{movimiento.estado}}</td>

                                                @*<th>
                                                        <center><input type="checkbox" ng-init="agregarPropina = false" title="Acepta dar propina" ng-model="agregarPropina" /></center>
                                                    </th>*@
                                                <th>
                                                    <button data-toggle="modal" id="registrarProducto" data-target=".pedidosProceso" type="button" ng-click="ListarProductosPedidos(movimiento.ID); ConsultarPedido(movimiento.ID);" class="btn btn-primary">Detalle</button>
                                                </th>
                                                <td>
                                                    <button type="button" ng-click="GenerarFactura(pedido.idPedido, agregarPropina)" class="btn btn-warning" title="Generar Factura">
                                                        <i class="fa fa-file-text"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="tab_finalizados" aria-labelledby="profile-tab">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Fecha</th>
                                                <th>Cedula</th>
                                                <th>Nombre del cliente</th>
                                                <th>Dirección</th>
                                                <th>Telefono</th>
                                                <th>Descripción</th>
                                                <th>Descuentos</th>
                                                <th>Total</th>
                                                <th>Estado</th>
                                                <th><center>Ver pedido</center></th>
                                                <th>Imprimir</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="movimiento in ListadoPedidosFinalizado | filter:txtFiltrarP  | itemsPerPage: pageSize" current-page="currentPage " class="animated fadeInDown">
                                                <td>{{movimiento.ID}}</td>
                                                <td>{{movimiento.fecha}}</td>
                                                <td>{{movimiento.cedula}}</td>
                                                <td>{{movimiento.nombreCliente}}</td>
                                                <td>{{movimiento.direccion}}</td>
                                                <td>{{movimiento.telefono}}</td>
                                                <td>{{movimiento.descripcion}}</td>
                                                <td>{{movimiento.descuentos}}</td>
                                                <td>{{movimiento.total}}</td>
                                                <td>{{movimiento.estado}}</td>

                                                <th>
                                                    <button data-toggle="modal" id="registrarProducto" data-target=".registroProducto" type="button" ng-click="ListarProductosPedidos(movimiento.ID); ConsultarPedido(movimiento.ID);" class="btn btn-primary">Detalle</button>
                                                </th>

                                                <td>
                                                    <button type="button" ng-click="GenerarFacturaAntigua(movimiento.ID,'facturado')" class="btn btn-warning" title="Generar Factura">
                                                        <i class="fa fa-file-text"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="tab_cancelados" aria-labelledby="profile-tab">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Fecha</th>
                                                <th>Cedula</th>
                                                <th>Nombre del cliente</th>
                                                <th>Dirección</th>
                                                <th>Telefono</th>
                                                <th>Descripción</th>
                                                <th>Descuentos</th>
                                                <th>Total</th>
                                                <th>Estado</th>
                                                <th><center>Ver pedido</center></th>
                                                <th>Proceso</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="movimiento in ListadoPedidosCancelado | filter:txtFiltrarP  | itemsPerPage: pageSize" current-page="currentPage " class="animated fadeInDown">
                                                <td>{{movimiento.ID}}</td>
                                                <td>{{movimiento.fecha}}</td>
                                                <td>{{movimiento.cedula}}</td>
                                                <td>{{movimiento.nombreCliente}}</td>
                                                <td>{{movimiento.direccion}}</td>
                                                <td>{{movimiento.telefono}}</td>
                                                <td>{{movimiento.descripcion}}</td>
                                                <td>{{movimiento.descuentos}}</td>
                                                <td>{{movimiento.total}}</td>
                                                <td>{{movimiento.estado}}</td>

                                                @*<th>
                                                        <center><input type="checkbox" ng-init="agregarPropina = false" title="Acepta dar propina" ng-model="agregarPropina" /></center>
                                                    </th>*@
                                                <th>
                                                    <button type="button" class="btn btn-warning" title="Ver detalle" ng- ng-click="">
                                                        <i class="fa fa-file-text"></i>
                                                    </button>
                                                </th>
                                                <td>
                                                    <button type="button" ng-click="GenerarFactura(pedido.idPedido, agregarPropina)" class="btn btn-warning" title="Generar Factura">
                                                        <i class="fa fa-file-text"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>


                        <div class="clearfix"></div>


                        <!-- PAGINADOR  -->
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)">
                                <ul class="pagination" ng-if="1 < pages.length || !autoHide">
                                    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
                                        <a href="" ng-click="setCurrent(1)">&laquo;</a>
                                    </li>
                                    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
                                        <a href="" ng-click="setCurrent(pagination.current - 1)">&lsaquo;</a>
                                    </li>
                                    <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
                                        <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
                                    </li>

                                    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
                                        <a href="" ng-click="setCurrent(pagination.current + 1)">&rsaquo;</a>
                                    </li>
                                    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == pagination.last }">
                                        <a href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
                                    </li>
                                </ul>
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Assets/js/angular/controllers/PedidoController.js"></script>
    <script src="~/Assets/js/angular/dirPagination.js"></script>
    <script src="~/Assets/js/angular/controllers/EliminarSessionStorage.js"></script>
}
